body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.question-card {
  position: relative;
  width: 300px;
  flex-shrink: 0;
  height: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 6px;
  margin-left: 10px;
}

.game-card {
  position: relative;
  width: 320px;
  flex-shrink: 0;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 6px;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.game-card-time {
  position: relative;
  top: 10px;
  left: -130px;
}

.game-card-date {
  position: relative;
  top: -35px;
  left: -45px;
}

.game-card-score {
  position: relative;
  top: -80px;
  left: 65px;
}

.game-card-action {
  position: relative;
  top: -100px;
  left: 140px;
}

.game-card-vl-date {
  position: relative;
  top: -10px;
  left: 60px;
  border-left: 1px solid red;
  height: 25px;
}

.game-card-vl-score {
  position: relative;
  top: -55px;
  left: 170px;
  border-left: 1px solid red;
  height: 25px;
}

.game-info {
  font-size: 14px;
  font-weight: lighter;
  color: gray;
  font-family: 'Comfortaa', cursive;
}

.question-card-title {
  color: gray;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  padding-top: 18px;
}

.question-card-subtitle {
  position: relative;
  color: black;
  font-size: 14px;
  padding-top: 4px;
  left: 42px;
  top: -12px;
}

.question-card-footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.question-bage-container {
  position: relative;
  left: -60px;
  top: -32px;
}

.question-vl {
  position: relative;
  top: 10px;
  left: 150px;
  border-left: 1px solid red;
  height: 25px;
}

.question-text {
  color: black;
  font-size: 16px;
  padding: 10px;
}

.game-result-score {
  color: darkred;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  padding-top: 20px;
}

.small-card {
  position: relative;
  width: 300px;
  flex-shrink: 0;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 6px;
  margin-left: 10px;
}

.small-card > img {
  position: relative;
  top: -6px;
  left: -6px;
  width: 112px;
  height: 112px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
}

.small-card-title {
  position: absolute;
  top: 10px;
  left: 120px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.small-card-subtitle {
  position: absolute;
  top: 30px;
  left: 120px;
  font-size: 12px;
  color: black;
}

.vl {
  position: absolute;
  top: 52px;
  left: 120px;
  border-left: 1px solid red;
  height: 25px;
}

.small-card-info {
  position: absolute;
  top: 50px;
  left: 128px;
  font-size: 10px;
  color: gray;
}

.small-card-contactInfo {
  position: absolute;
  top: 66px;
  left: 128px;
  font-size: 10px;
  color: gray;
}

.small-card-liked {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  color: gray;
}

.small-card-img-title {
  position: absolute;
  top: 54px;
  left: 8px;
  width: 88px;
  font-size: 12px;
  background-color: white;
  color: black;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
}

.header-label {
  font-size: 16px;
  color: #E8E8E8;
  margin-right: 10px;
}

.rounded-card {
  position: relative;
  width: 100px;
  flex-shrink: 0;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
  padding: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rounded-image-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 9px;
  border-top-left-radius: 8px;
  padding: 4px;
  color: white;
  background-color: orange;
}

.rounded-card-title {
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.add-card-title {
  font-size: 12px;
  color: gray;
}

.container-horizontal-scroll {
  margin-top: 20px;
  min-width: 400px;
  max-width: 880px;
  height: 360px;
  display: flex;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

.badge {
  display:inline-block;
  font-size: 9px;
  padding: 4px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  margin-left: 4px;
}
.badge-icon-container {
  position: relative;
}

.bage-container {
  position: relative;
  left: 110px;
  bottom: 40px;
}

.badge-input {
  font-size: 9px;
  width: 30px;

}

.dot {
  height: 5px;
  width: 5px;
  background-color: #E8E8E8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.signOn {
  position: absolute;
  top: 10px;
  right: 4px;
  background-color: red;
}

.blur {
    transition: all 1s ease;
    -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.button-link {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.button-answer {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: green;
}

.button-indicator {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    color: green;
    margin-left:  30px;
    margin-right: 30px;
}

.button-answer-hint {
  color: gray;
  text-align: center;
  font-size: 11px;
}

.button-menu {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  margin-left: 12px;
  color: #141414;
}

.action-button {
  position: absolute;
  right: 20px;
  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.333333px;

  color: #DADADA;
}

.action-button-active {
  color: #053BF9;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  padding-right: 60px;
}

.menu > .page-title {
  right: 40px;
  position: relative;
  color: black;
  font-size: 16px;
}

.page-title {
  align-items: center;
  font-family: 'Comfortaa', cursive;
}

.logo {
  position: absolute;
  left: 60px;
}

.header-title {
  width: 180px;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  color: rgba(0, 0, 0, 0.75);
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.logo-icon {
  height: 30px;
  vertical-align: middle;
}

.subLogo {
  position: absolute;
  left: 60px;
}

.separator {
  margin-left: 12px;
}

.divider {
  background-color: #E8E8E8;
  border-width:0;
  color: #E8E8E8;
  height: 0.75px;
}

.value {
  color: #7633ff;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 12px;
  font-size: 16px;
  letter-spacing: 0.01em;
  font-weight: 800;
}

.sub-menu-logo {
  font-family: 'Comfortaa', cursive;
  color: #7633ff;
  line-height: 24px;
  margin-left: 12px;
  font-size: 16px;
  letter-spacing: 0.01em;
  font-weight: 800;
}

.rounded {
  width: 64px;
  height: 64px;
  border: 2px;
  border-color: #d2d2d4;
  border-style: solid;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  display: inline-block;
}

.image-message {
  position: static;
  width: 234px;
  height: 42px;
  left: 10px;
  top: 10px;

  font-family: Roboto Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.333333px;

  color: #DADADA;
}




.dropzone {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropzone:focus {
  outline: none;
}

.amount-input,
.text-input {
  position: relative;
  border: 1px;
  border-color: #E8E8E8;
  border-radius: 10px;
  padding: 20px;
  border-style: solid;
  max-width: 600px;
  min-width: 300px;
}

.amount-input > input,
.text-input > input {
  border-style: hidden;
  font-size: 18px;
}

.amount-input > input:focus,
.text-input > input:focus
 {
  outline: none;
}


.amount-input > .text,
.text-input > .text
 {
  background-color: white;
  color: gray;
  padding: 4px;
  top: -14px;
  position: absolute;
  font-size: 14px;
}

.text-input {
  max-width: 400px;
  min-width: 240px;
}

.text-input-icon {
  position: absolute;
  display: flex;
  position: absolute;
  align-items: center;
  left: 10px;
  top: 20px;
}

.amount-input > .selector {
  display: flex;
  position: absolute;
  align-items: center;
  right: 10px;
  top: 14px;
  cursor: pointer;
}

.amount-input > .selector > img {
  width: 32px;
  height: 32px;
}

.amount-input > .selector > span {
  margin-right: 10px;
  margin-left: 10px;
}

.country-list-cell {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 300px;
  height: 60px;
  justify-content: space-around;
  max-width: 600px;
  cursor: pointer;
}

.country-list-cell:hover {
  background-color: #E8E8E8
}

.country-list-cell-country {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.country-list-cell-country > img {
  width: 32px;
  height: 32px;
}

.country-list-cell-country > span {
  margin-left: 10px;
}

.country-list-cell-currencies {
  position: absolute;
  right: 20px;
}

.country-list-container {
  border: 1px;
  border-color: #E8E8E8;
  border-radius: 10px;
  border-style: solid;
  max-width: 600px;
  min-width: 300px;
}
.country-list-container > input {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-style: hidden;
  font-size: 18px;
}
.country-list-container > input:focus {
  outline: none;
}

.country-list {
  max-height: 300px;
  overflow-y: scroll;
}

.country-list > ul {
  padding: 0;
  list-style-type: none;
}

.currency-list-title,
.currency-list-subtitle {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 300px;
  height: 60px;
  justify-content: space-around;
  max-width: 600px;
}

.currency-list-subtitle  {
  background-color: #E8E8E8;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
}
.currency-list-subtitle > div {
  font-size: 14px;
  margin-left: 26px;
}

.currency-list-title-text {
  position: absolute;
  left: 26px;
}

.currency-list-title-x {
  position: absolute;
  right: 26px;
  cursor: pointer;
}

.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-left-right {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.container-left {
  padding-right: 5px;
  width: 50%;
  text-align: right;
  justify-content: right;
  align-items: right;
  color: #E8E8E8;
}

.container-right {
  padding-left: 5px;
  width: 50%;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.container-right > .horizontal {
  height: 50%;
  position: relative;
  text-align: left;
}

.container-right > .horizontal > h3 {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
.container-right > .horizontal > span {
  color: gray;
  font-size: 14px;
  margin-top: 4px;
}



.action-divider-container {
  top: -28px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40px;
  height: 40px;
  z-index: 10;
}

.action-divider-title {
  position: relative;
  top: -24px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: gray;
  z-index: 10;
}

.round-img-title {
  font-size: 12px;
  padding: 4px;
  text-align: center;
  color: white;
  background-color: #d2d2d4;
  border-radius: 2px;
}

.auth-button {
  margin-top: 20px;
  background-color: #6F37F5;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  border-style: none;
}

.auth-button:hover {
  background-color: #9764fe;
}

.back {
  cursor: pointer;
}

.link-button-title {
  cursor: pointer;
  font-size: 16px;
  color: darkblue;
}

.link-button-subtitle {
  cursor: pointer;
  font-size: 16px;
  color: blue;
}

.error {
  text-align: center;
  font-size: 20px;
  color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
